@import "../../fonts/style";
@import "../../globals";
// @import "./config";
// 

$border-color: #CCCCCC;
$left-pannel-width: 200px;
$middle-pannel-width: 300px;
$header-menu-height: 50px;
$active-tab-border-color: #2a3e52;
$active-tab-border-width: 5px;

.wrapper {
	height: 100%;
	position: relative;
	overflow: hidden;

	> header {
		position: absolute;
		height: $header-menu-height;
		width: 100%;
		top: 0;
		left: 0;
		z-index: 999;
		border-bottom: 1px solid $border-color;
	}
}

.main-container {
	display: flex;
	padding-top: $header-menu-height;
	height: 100%;
}

.left-pannel {
	width: $left-pannel-width;	
	border-right: 1px solid $border-color;	

}

.middle-pannel {
	width: $middle-pannel-width;
	height: 100%;
	overflow-y: auto;
	border-right: 1px solid $border-color;
}

.right-pannel {
	flex: 1;
	
	> iframe {
		width: 100%;
		height: 100%;
		overflow: auto;
	}
}


// fragement
.custom-logo {
	width: 3 * $unit;
	height: 3 * $unit;
	position: absolute;
	top: 6px;
	left: 20px;
}

.active-feeds-item {
	border-left: $active-tab-border-width solid $active-tab-border-color;
	height: auto;
}
